In [1]:
a = "Ehtesham Ali Khan"
a[:2]

'Eh'

In [2]:
len(a)

17

In [3]:
a[ : :-1]

'nahK ilA mahsethE'

In [4]:
import keyword

In [5]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
len(keyword.kwlist)

36

In [7]:
'''
This is used for multiline
commenting. remember these words
and signs and  keep them stick to your minds
'''

'\nThis is used for multiline\ncommenting. remember these words\nand signs and  keep them stick to your minds\n'

In [8]:
a = 2 + 2 \
     + 5 + 5
a

14

In [9]:
for i in range(0,15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [10]:
def square(n):
    ''' Doc string is used to define what this function is for'''
    return n*n

square(9)

81

In [11]:
def eno(n):
    '''even odd Function '''
    if n % 2 ==0:
        print("even number ")
    elif n%2 !=0:
        print("Odd number")
eno(30)

even number

In [12]:
eno.__doc__

'even odd Function '

In [13]:
# check the hex id
a = "Hassan Ali Khan"
hex(id(eno)), type(eno)

('0x1ea2a5d45e0', function)

In [14]:
# variable overwiting
a = 100
b = a +100
b

200

In [15]:
#  Multiple assignment
a,b, c = 5,10,15
print(a)
print(b)
print(c)

5
10
15

Data Type

In [16]:
import sys

In [17]:
a = 10
print(sys.getsizeof(a))

28

In [18]:
b = 3952222.1458
print(sys.getsizeof(b))

24

In [19]:
v = "Ehtesham Ali Khan"
r = v*5
display(r)

'Ehtesham Ali KhanEhtesham Ali KhanEhtesham Ali KhanEhtesham Ali KhanEhtesham Ali Khan'

In [20]:
v[-17:]

'Ehtesham Ali Khan'

In [3]:
del v

NameError: name 'v' is not defined

In [ ]:
t = "tension"
for  i in enumerate(t):
    print(i)

# Strip is used for removing all white spaces

In [ ]:
c = "   Hello   "
print(c.strip())

Remove all characters at the begining or at the end of the string

In [ ]:
c = "/*/*/*/*/ Hello */*/*/*/"
print(c.strip('/*'))

In [ ]:
c.upper()

In [ ]:
t= "Good Morning"
print(t.lower())
print(t.upper())
print(t.title())

In [ ]:
t.replace("Morning","Night")

You can remove white spaces as well using replace function

In [ ]:
t.replace(" ","")

To see the occurance of particular words in the string

In [ ]:
t.count("n") # n appears two times inthe t string

In [ ]:
t.strip()

In [ ]:
#  to check if the required letter starts with the required string
t.startswith("Good")

In [ ]:
print(t.endswith("Morning"))

In [ ]:
e = "Ehtesham ali khan"
e.startswith("Ehtesham")

In [ ]:
e.endswith("n")

In [ ]:
e.split()

# List

In [ ]:
l = [1,2,3,4,5]
type(l)
hex(id(l))

In [ ]:
print(sys.getsizeof(l))

In [ ]:
type(l)

In [ ]:
l[::-1]

In [ ]:
l.reverse()
l

In [ ]:
l.sort()
l

In [ ]:
b = ["one","two","three"]

In [ ]:
b.reverse()
b

In [ ]:
b.pop()

In [ ]:
b

In [ ]:
b.remove("two")

In [ ]:
b

In [ ]:
b.append("new")

In [ ]:
b

In [ ]:
b.insert(0,"one")

In [ ]:
b

In [ ]:
c = ["two","four","five"]
b.extend(c)
b

In [ ]:
b.sort(reverse=True)
b

In [ ]:
for i in b:
    print(i)

In [ ]:
for i in enumerate(b):
    print(i)

In [ ]:
d = [i for i in enumerate(b) ]
list(d)

In [ ]:
b.items()

In [ ]:
b.count("two")

In [ ]:
#  LIst comprehension

even = [i for i in range(0,100) if i%2 == 0]
print(even)

In [ ]:
odd = [i for i in range(0,100) if i%2 !=0]
print(odd)

In [ ]:
# Print square of first 10 numbers
square = [i*2 for i in range(10)]
square

In [ ]:
# print cube of first ten numbers
cube = [i*3 for i in range(10)]
cube

In [ ]:
# extract digits from a string
w = "one 1 two 2 3 three 4 four"
x = [i for i in w if i.isdigit()]
x

In [ ]:
y = [i for i in w if i.isalpha()]

In [ ]:
y

In [ ]:
r = "Ehtesham Ali Khan"
print(hex(id(r)))

In [ ]:
type(r)

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
def greet(m):
    return "Hello {}".format(m)
greet("Ali")

In [ ]:
a = "/=-=-=-=-=-#$%^& Hello World -&*&^%%$$%%"
print(a.strip("/&=-"))

In [ ]:
print(a.strip("#$%&-^-=/*"))

In [ ]:
w = "Ehtesham Ali Khan"

for i in enumerate(w):
    print(i)

In [ ]:
def name(n):
    ''' This function defines the name '''
#     a =  n.strip()
#     print(a)
#     a = n.upper()
#     print(a)
    if n == "Ehtesham":
        print("Hey! you got it right")
    elif n == "Hassan":
        print("Little up")
    elif n == "Seemab":
        print("keep going up! you are getting closer")
    else:
        print("Nah! you type wrong")
n = input("Ehtesham, Hassan, Seemab - ")        
name(n)

In [ ]:
name.__doc__

In [2]:
bv = str(input("enter your name"))
print(bv.title())

enter your nameehtesham
Ehtesham

In [1]:
e = "Ehtesham Ali Khan"
print(e)

Ehtesham Ali Khan

# Tuple

When we don't want to change data over time, then tuple is the preferred data type

In [8]:
ae = (10,20,30,["nerd","geek"],{"Ehtesham","Khan"},(10,20,30))

In [9]:
type(ae)

tuple

In [11]:
hex(id(ae))

'0x14dfc2d3040'

In [12]:
len(ae)

6

### Tuple Indexing

In [13]:
ae[:3]

(10, 20, 30)

In [27]:
ae[-3:][0][1] # output will be greek

'geek'

In [33]:
# print output Ehtesham
ae[-2: ][0]

{'Ehtesham', 'Khan'}

you cann't add value in tuple, first convert it to list and then add and then reconvert

In [44]:
ru = (1,3,5,7)
ru.append(2,4,6)
ru

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
ar = list(ru)
br = [2,4,6]
ar.extend(br)
ar.sort()
ru = tuple(ar)
print(ru)

(1, 2, 3, 4, 5, 6, 7)

In [46]:
type(ru)

tuple

In [47]:
ru

(1, 2, 3, 4, 5, 6, 7)

In [48]:
for i in enumerate(ru):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)

## Tuple membership

In [51]:
# check if item exists - exist it will return true else will false
3 in ru

True

In [52]:
8 in ru

False

# Functions

In [56]:
# provide list of arguments 
def muliple_args(*n):
    ''' This returns the list of arguments '''
    print(n)
    
muliple_args("Ehtesham Ali Khan", "Hassan Ali Khan",28, 22, "Seemab Shaheen", 26, False,False,True)

('Ehtesham Ali Khan', 'Hassan Ali Khan', 28, 22, 'Seemab Shaheen', 26, False, False, True)

In [58]:
muliple_args.__doc__

' This returns the list of arguments '

### Parameter is the variable that is listed inside the function paranthesis

### The value passed to the function as an argument when it is called

In [61]:
def  pairs_words(**words_in_pairs):
    print(words_in_pairs)
    
    
pairs_words(name="Ehtesham Ali Khan",age= 28, marital_status="single",nationlity="Uk,Pakistan",cars="None")

{'name': 'Ehtesham Ali Khan', 'age': 28, 'marital_status': 'single', 'nationlity': 'Uk,Pakistan', 'cars': 'None'}

# Lambda

A lambda function is an anonymous function without a name

<strong> lambda function can have many number of arguments but only one expression </strong>

#### Syntax

<bold>lambda : </bold>
lambda

<bold> Arguments : </bold>
num1,num2,num3

<bold>Expression : </bold>
num1+num2+num3

lambda num1+num2+num3:num1+num2+num3

In [7]:
# This lambda function multiply value 10 to the value
multiply = lambda a : a*10
print(multiply(100))

1000

In [8]:
add = lambda a1,b2,c3:(a1+b2)/c3
print(add(2,3,5))

1.0

In [9]:
type(add)

function

In [10]:
sum_of_list_of_number = lambda *n: sum(n)
print(sum_of_list_of_number(5,5,5,5,100,1589489))

1589609

In [18]:
product_pairs = (lambda **pair: sum(pair.values()))
print(product_pairs(a=10,b=100,c=90),product_pairs(a=100,b=200,c=4500))

200 4800

#  Filter

Filter function filter the original iterable and passes the items that return True for the function provided to filter

filter method takes two parameter
1. function - function tests if element of an iterable  return true or false
2. Iterable - Sequence which needs to be filtered, could be sets, lists,tuples or any iterators.

##### Syntax

filter(lambda n: n%2==1,list1)

In [25]:
# Filter the odd numbers using this list
list1 = [1,2,5,6,7,8,9,10,11,12,13,14,15,16]
odd = filter(lambda n:n%2==1,list1)
print(list(odd))

[1, 5, 7, 9, 11, 13, 15]

In [27]:
list_2 = [1,2,5,6,7,8,9,10,11,12,13,14,15,16]
even = list(filter(lambda n: n%2 == 0,list_2))
print(even)

[2, 6, 8, 10, 12, 14, 16]

In [28]:
# display only those countries that contain word -land- 
countries = ["England","Ireland","Finland","New Zealand","Netherland","Switzerland","Slovenia","Slovakia","Pakistan","India"]
Land_in_countries = list(filter(lambda n: "land" in n, countries))
print(Land_in_countries)

['England', 'Ireland', 'Finland', 'New Zealand', 'Netherland', 'Switzerland']

#### Using filter in simple function

In [46]:
# filter odd number 
num = [1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,20]

def odd_num(n):
    if n%2==1:
        return True
    else:
        return False
        
show_odd = list(filter(odd_num,num))
show_odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
# filter even number 
num = [1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,20]

def even_num(n):
    if n%2==0:
        return True
    else:
        return False
        
show_even = list(filter(even_num,num))
show_even

[2, 4, 6, 10, 12, 14, 16, 18, 20]

# Map

The map function applies a given function to each item of an iterable (list, tuple etc) and return a list of results.

 Map functions takes two parameters
 1. The function to execute for each item in a given iterable
 2. It is a iterable which is to be mapped
 
 Syntax
 
 map(lambda n: n%2==0, list1)
 
 1. map 
 2. function
 3. iterable

In [49]:
list_3 = [2,4,5,6,7,8]

def double(n):
    return n*2

twice = list(map(double,list_3))
twice

[4, 8, 10, 12, 14, 16]

In [50]:
# this could be done as well
twice_copy = list(map(lambda n:n*2, list_3))
twice_copy

[4, 8, 10, 12, 14, 16]

When you want to iterate thorough a  list or tuple and perform any calculation or any operation on it then use map function

# Reduce

The reduce() function reduce two arguments function and an iterable. However it